<div class="container-fluid footer mt-5 ">
  <div class="row">
      <!-- name -->
      <div class="col-lg-6 mt-3 mb-3">
        <h1>SightseeingWeb</h1>
        <p>The best sight, facinated</p>
      </div>
      <!-- nav -->
      <div class="col-lg-4 mt-3 mb-3">
        <a routerLink="">Home</a>
        <a routerLink="menu">Menu</a>
        <a routerLink="about">About</a>
        <a routerLink="contact">Contact</a>
      </div>
      <!-- socialmedia -->
      <div class="col-lg-2">
        <a href="#" target="blank"><em class="bi bi-facebook"></em></a>
        <a href="#" target="blank"><em class="bi bi-whatsapp"></em></a>
        <a href="#" target="blank"><em class="bi bi-instagram"></em></a>
        <a href="#" target="blank"><em class="bi bi-youtube"></em></a>
      </div>
  </div>
</div>
