<div class="container mt-5 mb-5">

  <h1 class="text-center">About</h1>

    <p>
      Sightseeing has not always held its present pride of place in travel ritual.
      The senses have received differing kinds of attention from codifiers of travel conventions. Between 1600 and 1800,
      treatises on travel method shifted from a scholastic focus upon touring as an opportunity for discourse, to enthusiasm for travel as “eyewitness” observation.
      In the course of this shift in attention from the traveler's ear and tongue to the traveler's eye, many of the conventions of sightseeing performance were first developed.
      The historical “visualization” of travel experience is to be understood in relation to cultural and social features of the period.
      <br/>
      The activity of visiting famous or interesting places in a region:
      The act or pastime of seeing sights. A guide trip like no other.
      We are a team committed to serving you. Our goal is to find those places that will make you see the world from a different perspective.
      So book your ticket and follow us

      </p>

      <h1 class=" text "> Zusammenfassung auf Deutsch </h1>

      <p>
        Tourismus bedeutete nicht immer "Sehenswürdigkeiten SICHTEN gehen".
        In der Geschichte des Reisens findet man die "Visualisierung der Wahrnehmung",
        von der die Historiker gesprochen haben. Zwischen 1600 und 1800 begannen die Diskurse über die Kunst des guten Reisens,
        dem Auge des Reisenden mehr Aufmerksamkeit zu schenken als den anderen Sinnen,
        was den philosophischen und sozialen Strömungen der Zeit entsprach.
      </p>

</div>
